Binaries
DerivedDataCache
Intermediate
Saved
Build

**/Archdemon01
**/BowsAndCrossbowsPack
**/Orcs_Pack
**/Weapon_Pack
**/Development


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace