Binaries
DerivedDataCache
Intermediate
Saved
Build

**/Demon_Abraxas
**/BowsAndCrossbowsPack
**/Orcs_Pack
**/Weapon_Pack
**/Development
**/ThirdPerson
**/Characters
**/DarkFantasyPremiumBundle02


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace